Workflow/llamadaOrquestada (2).json
{
  "name": "llamadaOrquestada",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_12dcb3a82daa9997fb7f287a7f60"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.call_body}}",
        "options": {
          "response": {}
        }
      },
      "id": "3cef7436-9e94-46b3-b00d-6ae370ee289d",
      "name": "HTTP – Retell create-phone-call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        224,
        -272
      ],
      "notesInFlow": true,
      "notes": "Envía el body como JSON usando el output del nodo Code."
    },
    {
      "parameters": {
        "jsCode": "const r = $json || {};\nconst callId = r.call_id || r.data?.call_id || r.id || '';\nif (!callId) throw new Error('No call_id in response: ' + JSON.stringify(r));\nreturn [{ json: { call_id: callId } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -272
      ],
      "id": "e98c66d5-3cc9-4263-8c24-fbe9390c3827",
      "name": "Code",
      "notesInFlow": true,
      "notes": "Extract call_id"
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "df12b716-c015-46b5-934e-8780bed90384",
      "name": "Wait 20s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        704,
        -480
      ],
      "webhookId": "0d4969ae-7bd8-43df-a558-61ff879da4b9"
    },
    {
      "parameters": {
        "url": "=https://api.retellai.com/v2/get-call/{{$json.call_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_12dcb3a82daa9997fb7f287a7f60"
            }
          ]
        },
        "options": {
          "response": {}
        }
      },
      "id": "dcdd5579-a9fc-4633-b86a-9d8430d4a933",
      "name": "HTTP – Retell get-call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        784,
        -272
      ],
      "notesInFlow": true,
      "retryOnFail": true,
      "notes": "Trae estado, análisis y variables recolectadas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c49f3f4-9971-4a19-9d20-25c68e9e6f2b",
              "leftValue": "={{ ['ended','error','not_connected'].includes($json.call_status) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        -224
      ],
      "id": "aad27401-660e-41a6-8f72-2771a57b6294",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Code1 – reemplazá por esto\nconst g = $json || {};\nconst status = (g.call_status || '').toLowerCase();\nconst ended = [\"ended\",\"error\",\"not_connected\",\"completed\",\"success\",\"resolved\"].includes(status);\n\n// También arrastro lo que venga de atrás:\nconst loopItem = $item(0, 'Loop Over Items').$json || {};\nconst callNode = $item(0, 'Code').$json || {}; // si preferís, tomalo del Code anterior\n\nreturn [{\n  json: {\n    job_id: loopItem.job_id || callNode.job_id,   // <— CLAVE para el Update Key\n    call_id: callNode.call_id || g.call_id,\n    status_final: ended ? \"completed\" : \"retry\",\n    outcome: g,\n    last_attempt_at: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -320
      ],
      "id": "7f6e19c0-41c5-4b01-99ca-418659e96348",
      "name": "Code1"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1232,
        0
      ],
      "id": "29239a20-b3c8-48a6-86e1-590e3a7fa076",
      "name": "Wait",
      "webhookId": "1852cc2b-a540-4a63-abcc-5e1be0ca7ee4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        -560
      ],
      "id": "08716d10-e4e0-495e-8bef-f9cb6171f7e8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"mongo_conn\": \"mongodb://host.docker.internal:27017\",\n  \"mongo_db\": \"Debtors\",\n  \"coll_batch\": \"batch_debtors\",\n  \"coll_jobs\": \"call_jobs\",\n  \"retell_base\": \"https://api.retellai.com\",\n  \"retell_key\": \"Bearer key_12dcb3a82daa9997fb7f287a7f60\",\n\n  \"batch_id\": \"batch-20250903-uh85\",\n  \"max_attempts\": 3,\n  \"wait_seconds\": 20\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        -560
      ],
      "id": "a574ec0e-4195-43a0-af99-b2893c344a8b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "collection": "={{$json.coll_batch}}",
        "options": {},
        "query": "={\n  \"batch_id\":\"{{ $json.batch_id }}\"\n}\n "
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -624,
        -560
      ],
      "id": "eaecf53a-aefc-4354-ad4b-4129f43c6e3b",
      "name": "MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "NAMzpw6NgwqCTBEY",
          "name": "MongoDB account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function bestPhone(d) {\n  return \"+5491136530246\";\n}\nfunction bestName(d) {\n  return d.nombre || d.full_name || d.name || \"Cliente\";\n}\nfunction totalDeuda(d) {\n  if (d.totales?.total_saldo_cents) return d.totales.total_saldo_cents;\n  if (Array.isArray(d.deudas)) return d.deudas.reduce((a,x)=>a+(x.saldo||0),0);\n  return d.saldo || 0;\n}\nfunction rutLike(d){ return d.rut || d.key || d._id || \"\"; }\n\nconst nowIso = new Date().toISOString();\n\nreturn items.map(it => {\n  const d = it.json;\n  const to_number = bestPhone(d);\n  const nombre = bestName(d);\n  const monto = totalDeuda(d);\n  const job_id = `${d.batch_id}::${rutLike(d)}`;\n\n  const call_body = {\n    to_number,\n    // si usás número saliente/agent fijos, setéalos:\n    from_number: d.from_number || \"+17753707009\",\n    agent_id: d.agent_id || \"agent_9af386a14d75b856946d189bc2\",\n    retell_llm_dynamic_variables: {\n      nombre,\n      empresa: d.origen_empresa || d.empresa || \"\",\n      RUT: d.rut || \"\",\n      cantidad_cupones: String(d.totales?.total_cupones || d.deudas?.length || 1),\n      monto_total: String(monto),\n      cicloVenta: d.deudas?.[0]?.ciclo || d.ciclo || \"\",\n      fecha_de_vencimiento: d.deudas?.[0]?.fechaVencimiento || d.min_vencimiento || \"\"\n    }\n  };\n\n  return {\n    json: {\n      batch_id: d.batch_id,\n      job_id,\n      to_number,\n      nombre,\n      attempts: (d.attempts ?? 0) + 1,\n      last_attempt_at: nowIso,\n      status: d.status || \"pending\",\n      call_body\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -544
      ],
      "id": "375dac01-5d16-4a10-8c22-a3b66727545d",
      "name": "Code2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -416,
        -256
      ],
      "id": "a2752b24-49fc-4965-91a4-0bfd43561f93",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "call_jobs",
        "updateKey": "={\n  \"query\": { \"job_id\": \"={{$json.job_id}}\" },\n  \"updateFields\": { \"status\": \"={{$json.status_final}}\", \"outcome\": \"={{$json.outcome}}\" }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1568,
        -320
      ],
      "id": "cd8f3d32-1567-4cde-846d-a33c1470cf5e",
      "name": "MongoDB1",
      "credentials": {
        "mongoDb": {
          "id": "NAMzpw6NgwqCTBEY",
          "name": "MongoDB account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP – Retell create-phone-call": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20s": {
      "main": [
        [
          {
            "node": "HTTP – Retell get-call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Wait 20s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP – Retell get-call": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP – Retell get-call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP – Retell create-phone-call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aaddd1c8-44de-44db-b1ee-bb5e08453f09",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70bcb9c23754a02a41432fe09a382b8585943beec2860a71f508e60f8ccee350"
  },
  "id": "vl6BR4XD3dZVsUis",
  "tags": [
    {
      "createdAt": "2025-08-23T19:15:25.122Z",
      "updatedAt": "2025-08-23T19:15:25.122Z",
      "id": "nBTtCuOn93TltIj5",
      "name": "retell"
    }
  ]
}